.container {
  padding: 20px;
}

.star-rating-container {
  width: 145px;
  height: 40px;
  background: url(img/blank_star.png) no-repeat;
  display: inline-block;
}

.star-rating {
  display: inline-block;
  background: url(img/shiny_star.png) no-repeat;
  width: 145px;
  height: 40px;
}

img {
  width: 100%;
}
