.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-items {
  background-color: white;
  color: black;
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
}

.tab-items.current {
  background-color: grey;
  color: white;
}

.tab-contents {
  display: none;
}

.tab-contents.current {
  display: block;
  background-color: gray;
  color: white;
  padding: 6px 12px;
}
